
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

.card__container {
    
    display: flex;
    flex-wrap: wrap;
};
.card {

display:flex;
justify-content: center;
align-items: center;
width: 250px;
height:250px;
margin: 10px;
transform-style: preserve-3d;
transition: all 0.8s ease; 

};
 
.card__front-face {
    width:200px; 
    position: absolute;
    backface-visibility: hidden;
}

.card__back-face {
    width:200px;
    height:200px;
    border-radius: 50%;
    position:absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
    
}